* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --high-light-color-green: #4caf50;
  --high-light-color-blue: #0a5dc2;
  --high-light-color-red: rgb(168, 12, 12);
  --ess-color: teal;
}
#root {
  position: absolute;
  inset: 0;
  direction: rtl !important;
  overflow: auto;
}

#root #footer {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10;
  border-top: 1px solid gray;
}
#root #footer .date {
  color: var(--high-light-color-blue);
  font-weight: bold;
  font-size: 17px;
  margin-left: auto;
}
#root #footer .localhost {
  color: var(--high-light-color-red);
  font-weight: bold;
}
#root #footer .username .name {
  color: var(--high-light-color-green);
  font-weight: bold;
}
#root #footer .organization {
  color: var(--high-light-color-blue);
}
#root #footer .branch {
  color: var(--high-light-color-blue);
}
#root #header {
  /* background-color: red; */
  /* padding: 10px; */
  border-bottom: 1px solid rgba(128, 128, 128, 0.726);
  display: flex;
  gap: 1px;
}
#root #container {
  height: 100%;
}
#root #menu * {
  /* float : unset */
}

#root #menu {
  padding: 0px 30px;
}
.rs-dropdown-item-content {
  text-align: justify;
}
.rs-dropdown-item-submenu.rs-dropdown-item
  > .rs-dropdown-item-toggle
  .rs-dropdown-menu-toggle-icon {
  left: 9px !important;
  transform: rotate(180deg);
  right: unset;
}
.rs-dropdown-item.rs-dropdown-item-submenu .rs-dropdown-item-toggle {
  padding-right: 12px;
  padding-left: 27px !important;
}

.page-title {
  /* background: red; */
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
  color: var(--ess-color);
}

div.container {
  height: 100%;
  padding: 5px 10px;
}

div.container-inner {
  flex: 1;
  width: 100%;
  direction: rtl;
  height: 100%;
}
